.search-bar {
    margin-right: 100px;
    width: 400px;
}

a {
    cursor: pointer;
}



.chat-container {
    position: fixed;
    top: 64px;
    height: calc(100% - 64px);
    width: 100%;
    padding: 0;

    .sidebar-container {
        height: 100vh;
        border: 1px grey inset;

        #sidebar-component {
            max-height: 555px;
            overflow: auto;
        }
    }

}

.sent-chats {
    width: 45%;
    left: calc(55% - 15px);
    background-color: #DADDB1;
    text-align: right;
}

.recieved-chats {
    width: 45%;
    left: 15px;
    background-color: #B3A492;
    text-align: left;
}

.vertical-line {
    width: 100vh;
    height: 1px;
}

#messages-outer-div {
    // background-image: url('https://images.pexels.com/photos/1550562/pexels-photo-1550562.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    // background-repeat: no-repeat;
    // background-size: cover;

    .if-no-chat {
        height: calc(100vh - 164px);
    }

    .messages {
        height: calc(100vh - 164px);
        overflow: auto;

        .sent-time {
            font-size: 12px;
            margin-bottom: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        #chat-options-toggle {
            cursor: pointer;
        }

        #chat-options {
            list-style: none;
        }

        .profile-image {
            width: 50px;
            border-radius: 50%;
        }
    }
}


.chat-box-outer-div {

    width: 100%;
    height: 100px;
    background-color: #DADDB1;
    // position: fixed;
    bottom: 0;
    margin-right: 0;

    .chat-box-container {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;

        #chat-box {
            padding: 10px;
            width: 100%;
            overflow: hidden;
            height: 40px;
            resize: none;
            white-space: pre-wrap;
            word-break: break-word;
        }

        button {
            height: 40px;
            width: 6%;
            min-width: 50px;
            background-color: #DADDB1;
            border: none;

            // border-color: var(--bs-secondary-border-subtle) !important;
            // border: 1px solid black;
            // border-radius: 10px;
            span {
                font-size: xx-large;
                font-weight: 300;
            }
        }
    }
}